.destaques{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    'fortinite . . pubg'
    'fortinite . . slack'
    'categorias . cs whatsapp';
    grid-gap: 30px;
}

.destaques__Fornite{
    grid-area: fortinite;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.destaques__PUBG{
    grid-area: pubg;
}
.destaques__Whatsapp{
    grid-area: whatsapp;
}
.destaques__CS{
    grid-area: cs;
}
.destaques__Slack{
    grid-area: slack;
}
.destaques__categorias{
    grid-area: categorias;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.destaques__categorias___lista{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
li{
    height: 100%;
    width: 100%;
}

.destaques__categorias___link{
    height: 100%;
    width: 100%;
}

.destaques__card___imagem{
    height: 100%;
    width: 100%;
}