*{
    padding: 0;
    margin: 10px;
}
.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 10px;
    grid-template-areas:
    'cabecalho'
    'conteudo'
    'rodape';
}
.cabecalho {
    grid-area: cabecalho;
 
}
 
.conteudo {
    grid-area: conteudo;
}

.rodape {
    grid-area: rodape;
}
